Data/
Labels/
results/
__pycache__/
UMAP Plots/
processed_masks/
optimization_results/
improved_validation/
debug_images/
evaluation_plots/
best_params_validation/
correlation_results/
clean_env_mirror/
DataGenMethods/
polyline_reconstruction_results/
cache/
Diff_eval/
reconstruction_results/
results_diff/
synthesis_results_mmvae/
results_mmvae/
DataSynthSHM/data/
DataSynthSHM/eval/
corrolation_analysis.py
data_analysis.py
evaluate.py
