Data/
Labels/
results/
__pycache__/
UMAP Plots/
processed_masks/
optimization_results/
improved_validation/
debug_images/
evaluation_plots/
best_params_validation/
correlation_results/
Euler_MMVAE/
clean_env_mirror/