tensorflow==2.15.0
keras==2.15.0
numpy<=1.26.0
h5py<=3.10.0

pandas==2.1.4
scikit-learn==1.3.2
scipy==1.11.4
matplotlib==3.8.3
seaborn==0.13.2
scikit-image==0.21.0
opencv-python==4.8.1.78
tqdm==4.66.2
umap-learn==0.5.5
GPUtil==1.4.0
joblib==1.3.2
plotly==5.18.0
rich==13.7.1
